* {
    padding: 0;
    margin: 0;
}

#forgotpassword_bg {
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/581/154/desktop-wallpaper-backgrounds-for-login-page-login-page.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#forgotpassword_ctn {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 40px;
}

.icon {
    font-size: 18px;
}